import type { {{FeatureName}}Repository } from '@features/{{{featureNameKebab}}}/domain/repositories/{{FeatureName}}Repository'
{{#methodTypeImports}}
import type { {{{names}}} } from '{{{path}}}'
{{/methodTypeImports}}

export class {{Name}}UseCase {
  constructor(private repository: {{FeatureName}}Repository) {}

  async execute({{#params}}{{name}}: {{type}}{{#hasNext}}, {{/hasNext}}{{/params}}): Promise<{{returnType}}> {
    return this.repository.{{name}}({{#params}}{{name}}{{#hasNext}}, {{/hasNext}}{{/params}})
  }
}
