import { {{{reactQueryImports}}}{{#hasMutations}}, useQueryClient{{/hasMutations}} } from '@tanstack/react-query'
import type { DomainError } from '@shared/errors'
{{#typeImports}}
import type { {{{names}}} } from '{{{path}}}'
{{/typeImports}}
import { {{#allMethods}}{{camelName}}UseCase{{#hasNext}}, {{/hasNext}}{{/allMethods}} } from '@features/{{{featureNameKebab}}}/di'
{{#queries}}

export function use{{Name}}({{#params}}{{name}}: {{type}}{{#hasNext}}, {{/hasNext}}{{/params}}) {
  return useQuery<{{returnType}}, DomainError>({
    queryKey: ['{{featureName}}', '{{name}}'{{#params}}, {{name}}{{/params}}],
    queryFn: () => {{camelName}}UseCase.execute({{#params}}{{name}}{{#hasNext}}, {{/hasNext}}{{/params}}),
{{#cacheSeconds}}
    staleTime: {{cacheSeconds}} * 1000,
{{/cacheSeconds}}
  })
}
{{/queries}}
{{#paginatedQueries}}

export function use{{Name}}({{#paginationParams}}{{name}}: {{type}}{{#hasNext}}, {{/hasNext}}{{/paginationParams}}) {
  return useInfiniteQuery({
    queryKey: ['{{featureName}}', '{{name}}'{{#paginationParams}}, {{name}}{{/paginationParams}}],
    queryFn: ({ pageParam }) => {{camelName}}UseCase.execute(pageParam{{#paginationParams}}, {{name}}{{/paginationParams}}),
    initialPageParam: 1,
    getNextPageParam: (lastPage) => undefined, // TODO: return next page or undefined to stop
  })
}
{{/paginatedQueries}}
{{#mutations}}

export function use{{Name}}() {
  const queryClient = useQueryClient()
  return useMutation<{{returnType}}, DomainError, { {{#params}}{{name}}: {{type}}{{#hasNext}}; {{/hasNext}}{{/params}} }>({
    mutationFn: ({ {{#params}}{{name}}{{#hasNext}}, {{/hasNext}}{{/params}} }) =>
      {{camelName}}UseCase.execute({{#params}}{{name}}{{#hasNext}}, {{/hasNext}}{{/params}}),
    onSuccess: () => {
      queryClient.invalidateQueries({ queryKey: ['{{featureName}}'] })
    },
  })
}
{{/mutations}}
