import { create } from 'zustand'

interface {{FeatureName}}State {
  // Define your UI state here
}

export const use{{FeatureName}}Store = create<{{FeatureName}}State>()(() => ({
  // Initial state
}))
