import { BaseURL } from '@spry-cli/decorators'

@BaseURL('/api/v1/{{featureName}}')
export abstract class {{FeatureName}}Repository {
  // Define your methods here using @spry-cli/decorators
  // Then run: spry build {{featureName}}
}
