import { BaseURL } from '@spry/decorators'

@BaseURL('/api/v1/{{featureName}}')
export abstract class {{FeatureName}}Repository {
  // Define your methods here using @spry/decorators
  // Then run: spry build {{featureName}}
}
